<div ng-controller='TasksCtrl' class='tasks-container'>
  <form ng-submit='add()'>
    <input type='text' ng-model='newTask.title'/>
    <button type='button' class='btn btn-default btn-sm'>
      <span class='glyphicon glyphicon-plus'></span> Add
    </button>
  </form>

  <ul class='tasks'>
    <li ng-repeat='task in tasks'>
      <div class='action-links'>
        <span class='glyphicon glyphicon-trash' ng-click='delete(task)'></span>
      </div>
      <div class='chbx'>
        <input type='checkbox' ng-click='complete(task)'/>
      </div>
      <div class='title' editable-text="task.title" buttons='no' onbeforesave='update(task, $data)'>{{task.title}}</div>
      <div class='clearboth'></div>
    </li>
  </ul>

  <div class='separator'>
    <div class='title'> Completed </div>
    <div class='line'></div>
  </div>
  <div class='clearboth'></div>

  <ul class='tasks completed'>
    <li ng-repeat='task in completed_tasks'>
      <div class='chbx'>
        <input type='checkbox' checked ng-click='restore(task)'/>
      </div>
      <div class='title editable editable-click'>{{task.title}}</div>
      <div class='clearboth'></div>
    </li>
  </ul>

</div>
