<div ng-controller='TasksCtrl' class='tasks-container'>
  <form ng-submit='addTask()'>
    <input type='text' ng-model='newTask.title'/>
    <button type='submit' class='btn btn-default btn-sm'>
      <span class='glyphicon glyphicon-plus'></span> Add
    </button>
  </form>

  <ul class='tasks'>
    <li ng-repeat='task in tasks'>
      <div class='chbx'>
        <input type='checkbox'/>
      </div>
      <div class='title'>{{task.title}}</div>
      <div class='action-links'>
        <span ng-click='edit(task)'>Edit</span> |
        <span ng-click='delete(task)'>Delete</span>
      </div>
      <div class='clearboth'></div>
    </li>
  </ul>
</div>
