<div ng-controller='TasksCtrl'>
  <form ng-submit='addTask()'>
    <input type='text' ng-model='newTask.title'/>
    <input type='submit' value='add' />
  </form>

  <ul class='tasks'>
    <li ng-repeat='task in tasks'>
      <div class='chbx'>
        <input type='checkbox'/>
      </div>
      <div class='title'>{{task.title}}</div>
      <div class='action-links'>
        <span ng-click='edit(task)'>Edit</span> |
        <span ng-click='delete(task)'>Delete</span>
      </div>
      <div class='clearboth'></div>
    </li>
  </ul>
</div>
