@import 'bootstrap';

body {
  background-color: #7D7DF3;
}

#content {
  width: 800px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

#footer {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  font-size: 12px;
}

.notice {
  color: #459E45;
  border: 1px solid #459E45;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
}

.alert {
  color: red;
  border: 1px solid red;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
}

#error_explanation {
  border: 3px solid red;
  h2 {
    background-color: red;
    color: white;
    margin: 0;
    padding: 5px;
  }
}

.field_with_errors {
  input {
    border: 1px solid red;
  }
}

form {
  label {
    display: block;
    margin-top: 10px;
  }
}

.links {
  float: right;
}

input[type=submit] {
  margin-top: 15px;
}

body {
  padding-top: 10px;
}

button {
  margin-top: 15px;
}

input[type=email],
input[type=text],
input[type=password] {
  display: inline-block;
  padding: 6px 8px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  border-radius: 4px;
  vertical-align: middle;
  border: 1px solid #CCCCCC;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  outline-color: #555;
  width: 233px;
}
