.tasks-container {
  form {
    button, input { margin: 0px; }
  }
  .tasks {
    margin-top: 15px;
    list-style: none;
    padding: 0;

    .title, .chbx, .priority, .due_date { float: left; }
    .title {
      font-size: 18px;
    }
    .pd {
      position: absolute;
      left: 47px;
      top: 27px;
      font-size: 12px;
      font-style: italic;
      .due_date {
        margin-left: 10px;
      }
      .priority, .due_date {
        margin-right: 5px;
      }
      input[type=text] {
        height: 22px;
        width: 68px;
        padding: 1px;
        font-size: 10px;
        margin-left: 10px;
      }
      form { float: left; }
    }
    li {
      position: relative;
      height: 60px;
      &:hover .action-links {
        visibility: visible;
      }
    }
    .action-links {
      visibility: hidden;
      float: left;
      font-size: 13px;
      color: #4141FF;
      margin-top: 5px;
      span {
        cursor: pointer;
      }
    }
    .chbx {
      margin: 3px 10px 10px 10px;
    }

    &.completed {
      li {
        padding-left: 13px;
        height: 40px;
      }
      div.title {
        text-decoration: line-through;
        font-size: 18px;
      }
    }
  }

  div.clearboth { clear: both; }

  .separator {
    div { float: left; }
    color: #239623;
    .title {
      font-size: 20px;
      font-weight: bold;
    }
    .line {
      height: 21px;
      margin-left: 15px;
      width: 555px;
      border-bottom: 1px solid #239623; 
    }
  }

  .sort {
    float: right;
    span {
      cursor: pointer;
      color: blue;
      &:hover {
        text-decoration: underline;
      }
    }
    span.glyphicon {
      visibility: hidden;
      &.active {
        visibility: visible;
      }
    }
  }
}
