.tasks-container {
  form {
    button, input { margin: 0px; }
  }
  .tasks {
    margin-top: 15px;
    list-style: none;
    padding: 0;

    .title, .chbx { float: left; }
    .title {
      font-size: 18px;
    }
    li {
      position: relative;
      height: 40px;
    }
    .action-links {
      float: left;
      font-size: 13px;
      color: #4141FF;
      margin-top: 5px;
      span {
        cursor: pointer;
      }
    }
    .chbx {
      margin: 3px 10px 10px 10px;
    }
    div.clearboth { clear: both; }
  }
}
