.tasks-container {
  form {
    button, input { margin: 0px; }
  }
  .tasks {
    margin-top: 15px;
    list-style: none;
    padding: 0;

    .title, .chbx { float: left; }
    .title {
      font-size: 18px;
    }
    li {
      position: relative;
      height: 40px;
      &:hover .action-links {
        visibility: visible;
      }
    }
    .action-links {
      visibility: hidden;
      float: left;
      font-size: 13px;
      color: #4141FF;
      margin-top: 5px;
      span {
        cursor: pointer;
      }
    }
    .chbx {
      margin: 3px 10px 10px 10px;
    }

    &.completed {
      li { padding-left: 13px; }
      div.title {
        text-decoration: line-through;
        font-size: 18px;
      }
    }
  }

  div.clearboth { clear: both; }

  .separator {
    div { float: left; }
    color: #239623;
    .title {
      font-size: 20px;
      font-weight: bold;
    }
    .line {
      height: 21px;
      margin-left: 15px;
      width: 555px;
      border-bottom: 1px solid #239623;
    }
  }
}
